<div class="container">
<div class="double-box">
  <div class="box-border">
    <img class="icon" src="../../assets/icon/house-color.svg" alt="casa">
    <span class="fav">Casa</span>
  </div>
  <div class="box">
    <img class="icon" src="../../assets/icon/color_briefcase.svg" alt="Trabalho">
    <span class="fav">Trabalho</span>
  </div>
</div>
<div class="address">
  <img class="icon" src="../../assets/icon/fav.svg" alt="Trabalho">
  <span class="fav">Endereços salvos</span>
</div>
<div class="address">
  <img class="icon" src="../../assets/icon/address.svg" alt="Trabalho">
  <span class="fav">Rua Exemplo 1</span>
</div>
<div class="address">
  <img class="icon" src="../../assets/icon/address.svg" alt="Trabalho">
  <span class="fav">Rua Exemplo 2</span>
</div>

</div>