<div class="container"  >
<div class="close">
  <img class='icon' src="../../assets/icon/close-24px (1).svg" alt="botão fechar">
</div>
<div class="inputs">
  <input class="input" placeholder="Insira o local de embarque" type="text">
  <div class="input-icon">
  <input class="input" placeholder="Para onde vamos?" type="text">
  <img class='add' src="../../assets/icon/add-24px (1).svg" alt="botão fechar">
</div>
</div>
<div class="check-label">
<input class="checkbox"  type="checkbox">
<label class="label" >Estou com pet</label>
</div>

</div>
