.container{
    margin-top: 1rem;
    border-bottom: solid 0.1rem lightgrey;
}


.inputs{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: left;

}

.close{
    padding-top: 1rem;
}

.icon{
   margin-left: 1rem;
}

.dog-icon{
    height: 1.5rem;
    width: 3rem;
}

.input-icon{
    display: flex;
}

.checkbox{
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
}

.checkbox:checked{
        background-color: yellow;
}

.label{
    color: #FFBE0D;
    font-size: 1.2rem;
}

.isIPhone{
    margin-top: 0.5rem;
}
 
.isAndroid{
    margin-top: 0rem;
}
.check-label{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}



.input{
  font-size: 1rem;
  color: black;
  font-weight: bold;
  background-color:lightgray;
  width: 85%;  
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.input:focus{
    background-color:#EAE9F0;
    font-weight:bold;

}
.input:focus::-webkit-input-placeholder {
    color: black;
}